<h1>Listing movies</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Director</th>
    <th>Year</th>
    <th>Votes</th>
    <th>Add A Vote</th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= link_to movie.title, movie %></td>
    <td>
      <% if movie.director.present? %>
        <%= link_to movie.director.name, movie.director %>
      <% end %>
    </td>
    <td><%= movie.year %></td>
    <td><%= movie.votes.count %></td>
    <td>
      <%= form_for Vote.new(:movie_id => movie.id) do |f| %>
        <%= f.collection_select :user_id, User.all, :id, :username %>
        <%= f.hidden_field :movie_id %>
        <%= f.submit %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_movie_path %>
