<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Director:</b>
  <% if @movie.director.present? %>
    <%= link_to @movie.director.name, @movie.director %>
  <% end %>
</p>

<p>
  <b>Year:</b>
  <%= @movie.year %>
</p>

<p>
  <b>Cast:</b>
  <ul>
  <% @movie.roles.each do |role|  %>
    <li><%= link_to role.actor.name, role.actor %> (<%= role.character_name %>)</li>
  <% end %>
  </ul>
</p>

<p>
  <b>Votes (<%= @movie.votes.count %>):</b>
  <ul>
  <% @movie.users.each do |user|  %>
    <li><%= link_to user.username, user %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Back', movies_path %> |
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' } %>

