<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Votes (<%= @user.votes.count %>):</b>
  <ul>
  <% @user.votes.each do |vote|  %>
    <li><%= link_to vote.movie.title, vote.movie %> <%= link_to "Delete Vote", vote, :method => 'delete' %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
